.l-main {
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  text-align: center;

  .slick-prev, .slick-next {
    // background: red !important;
    width: 50%;
    height: 100%;
    z-index: 100;

    &:before {
      content: none;
    }
  }

  .slick-prev { left: 0; }
  .slick-next { right: 0; }

  a {
    text-decoration: none;
    font-weight: 100;
    color: black;
  }

  h2 {
    font-family: 'roboto';
    font-weight: 100;
    margin: 20px 0px 100px;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  p {
    padding-bottom: 40px;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__info {
    padding: 0 40px;
  }

  &__contact {
    font-weight: 100;
    padding-bottom: 100px;
    font-size: 1.6rem;
  }

  &__slider-container {
    margin: auto;
    width: 100%;
  }

  &__slider {

    img {
      display: inline-block !important;
      max-width: 900px;
    }
  }

  &__slider-item {

  }

  &__logo {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 220px;

    @media #{$medium} {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 300px;
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__nav {
    width: 100%;
    height: 90px;
  }
}
