@font-face {
  font-family: 'roboto';
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('Roboto-Light.woff') format('woff'), url('Roboto-Light.ttf')  format('truetype'), url('Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('Roboto-Black.woff') format('woff'), url('Roboto-Black.ttf')  format('truetype'), url('Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
