/**
 * Project theme
 *
 * Always use colors as variables
 */

// project colors
$main: #f1f1f1; //bg color
$color1: #017fb1; //blue
$color2: #01729f; //dark blue
$color3: #00abbe; //blue green

$color4: #4fa600;
$color5: #ffd100;
$twitter: #6cdfea;
$facebook: #3b5998;
$instagram: #e4405f;

// shades of grey
$grey1: #d8d8d8; //button grey
$grey2: #dbdbdb; //light
