.u-table {
    display: table;
}

.u-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.u-relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.u-flex {
    display: flex;
}

.u-flex--column {
    flex-direction: column;
}

.u-flex--row {
    flex-direction: row;
}

.u-flex--full {
    flex: 1;
}

.u-overflow--scroll {
    overflow: auto;
}

/* Label ForTheWin position : bottom left*/
.u-ftw {
    position: absolute;
    bottom: 10px;
    left: 90px;
    transform: rotate(-90deg);
    transform-origin: 0 100%;
    padding: 0 10px;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 8rem;
    color: $dark-green;
    will-change: transform;

    @media $small {
        display: none;
    }
}

.u-logo {

}

.u-language {
    position: absolute;
    top: 15px;
    right: 20px;

    a {
        background: white;
        font-weight: 400;
    }

    @media $medium {
        right: auto;
        left: 20px;
    }
}

.u-overlay {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;

    @media $medium {
        background: rgba(0, 0, 0, 0.90);
    }
}
